<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('.hi') %> <%= @newsletter.name %>,</h1>
    <p>
      <%= t('.cancel_newsletter') %>.
    </p>
    <p>
      <%= t('.hope_your_visit_soon_again') %>
    </p>
    <p style="text-decoration: none; cursor: pointer;">
      <%= link_to root_url, {:style => 'text-decoration: none; cursor: pointer;'} do %>
        Module Newsletter
      <% end %>
    </p>
  </body>
</html>