<%= content_for(:title, t('.newsletter')) %>

<%= form_with(model: @newsletter, url: create_newsletter_path, local: true, class: '', html: { id: 'form_newsletter', method: :post }) do |f| %>
  
  <h1 class="m_top_10"><%= t('.newsletter') %></h1>

  <div class="row m_top_10 col-md-4 mx-auto d-flex justify-content-center">
    <%= f.label :name, class: "required_colon" %><br />
    <%= f.text_field :name, class: 'form-control', placeholder: t('.p_name'), required: true, pattern: '.{3,64}', maxlength: 64, minlength: 3, id: 'form_newsletter_name', 'data-purpose' => 'name', 'aria-invalid' => 'true', autofocus: true, tabindex: 1 %>
  </div>

  <div class="row m_top_10 col-md-4 mx-auto d-flex justify-content-center">
    <%= f.label :email, class: "required_colon" %><br />
    <%= f.email_field :email, class: 'form-control lower_case', placeholder: t('.p_email'), required: true, pattern: '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$', maxlength: 64, minlength: 7, id: 'form_newsletter_email', 'data-purpose' => 'email', 'aria-invalid' => 'true', tabindex: 2 %>
  </div>

  <div class="row m_top_10 col-md-3 mx-auto text-center ">
    <%= f.check_box :accepted, class: 'form-check-input', required: true, checked: 'checked', id: 'form_register_terms_and_privacy', tabindex: 3 %>
    <label class="form-check-label b_required" for="form_register_terms_and_privacy">
      <%= t('.accepted') %> 
      <%= link_to t('.term_newsletter'), term_newsletter_index_path %> 
    </label>
  </div>

  <div class="row m_top_10 col-md-4 mx-auto d-flex justify-content-center">
    <%#= recaptcha_tags %>
  </div>

  <div class="row m_top_10 col-md-4 mx-auto d-flex justify-content-center">
    <%= f.submit t('.send'), class: "btn btn-info btn-lg btn-block", tabindex: 4 %>
  </div>
<% end %>